// Стили для Блока "О нас"
.tech-skills-container {
  display: flex;
}

.tech-skills-list {
  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.tech-skills-text-container {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 64px;
  }
}

.tech-skills-title {
  max-width: 330px;

  padding-bottom: 20px;
  font-family: $title-font;
  // font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: $on-white-title-color;

  @media screen and (min-width: 1280px) {
    max-width: 500px;
    font-size: 42px;
    line-height: 1.17;
  }
}

.tech-skills-text {
  @extend %small-text;
  @include flex;
  margin-bottom: 20px;
  color: $on-white-title-color;
}

// .tech-skills-text::before {
//   @extend %before;
//   background: $on-white-title-color;
// }
.tech-skills-text::before {
  @extend %before;
  background: $on-white-title-color;
}
.tech-skills-text1 {
  @extend %description;
  padding-bottom: 20px;
  font-family: $main-font;
  color: $on-white-text-color;
  // @media screen and (min-width: 768px) and (max-width: 1279px) {
  //   // width: 330px;
  // }
  @media screen and (min-width: 1280px) {
    max-width: 500px;
  }
}
.tech-skills-text2 {
  padding-bottom: 40px;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: $on-white-text-color;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 330px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 500px;
    min-height: 128px;
  }
}
.tech-skills-item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }
}
.tech-skills-button {
  @include button($main-2-color, $main-1-color);
  padding: 12px 20px;
}
