@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.footer-title, .appointment-title, .team-title, .prices-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
}

.footer-time, .appointment-input-label, .barba-title, .team-subtitle, .prices-slogan, .tech-skills-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer-time::before, .barba-title::before, .team-subtitle::before, .prices-slogan::before, .tech-skills-text::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 84px 31px 84px 31px;
  margin: 0px auto 0px auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding: 100px 39px 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 130px 55px 130px 55px;
  }
}

.hero .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.aside-section {
  width: 159px;
  background-color: #ffffff;
  text-align: center;
  padding: 32px 30px 40px 39px;
}
@media screen and (max-width: 767px) {
  .aside-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .aside-section {
    width: 155px;
    padding: 32px 31px 40px 55px;
  }
}

.social-list-aside {
  position: relative;
  top: 85%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .social-list-aside {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    padding-left: 40px;
  }
}
.social-list-aside-item:not(:last-child) {
  margin-right: 40px;
}
.social-list-aside-item:hover, .social-list-aside-item:focus {
  color: #ff6c00;
}

.line {
  width: 60px;
  height: 1px;
  margin-right: 40px;
}

.header-content {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-content {
    padding: 40px 31px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: none;
  }
}

.icon-logo {
  fill: #ffffff;
}

.menu-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  fill: #ffffff;
}

.menu-container {
  text-align: left;
}
.menu-container a:hover, .menu-container a:focus {
  color: #ff6c00;
}
@media screen and (max-width: 767px) {
  .menu-container {
    background-color: #ffffff;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    padding-top: 118px;
    padding-bottom: 60px;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container a {
    color: #303030;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
  .menu-container a {
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    margin-right: 144px;
    margin-left: 40px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation-list {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-left: 40px;
    margin-right: 103px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding-top: 40px;
    margin-left: 322px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1279px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item:not(:last-child) {
    margin-right: 40px;
  }
}

.border {
  border: 1px solid #FF6C00;
  border-radius: 25px;
  padding: 12px 37px;
}

@media screen and (max-width: 767px) {
  .social-list {
    margin-left: 40px;
    margin-right: 105px;
  }
}
@media screen and (max-width: 767px) {
  .social-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .social-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.line {
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.hero {
  width: 100%;
  background-image: url(/hero-480-slider3.7ea03be0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 580px;
  display: flex;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192px), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/hero-480-slider3@2x.a8fdc06c.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    background-image: url(/hero-609-slider2.d2365b28.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192px), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/hero-609-slider2@2x.6b22b3d9.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(/hero-1125-slider1.380890d3.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192px), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/hero-1125-slider1@2x.4b63e20c.jpg);
  }
}

.hero-container {
  padding-top: 194px;
}
.hero-description {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero-description-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.tech-skills-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .tech-skills-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tech-skills-list {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tech-skills-text-container {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-text-container {
    margin-left: 64px;
  }
}

.tech-skills-title {
  width: 330px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 1280px) {
  .tech-skills-title {
    width: 500px;
    font-size: 42px;
    line-height: 1.17;
  }
}

.tech-skills-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #303030;
}

.tech-skills-text::before {
  background: #303030;
}

.tech-skills-text1 {
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tech-skills-text1 {
    width: 330px;
    font-size: 16px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-text1 {
    width: 500px;
    font-size: 18px;
    line-height: 1.7;
    min-height: 60px;
  }
}

.tech-skills-text2 {
  padding-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tech-skills-text2 {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-text2 {
    width: 500px;
    min-height: 128px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tech-skills-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-item:not(:last-child) {
    margin-right: 30px;
  }
}

.tech-skills-button {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: black;
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  min-width: 160px;
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1), border-color 550ms cubic-bezier(0.4, 0, 0.2, 1), background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tech-skills-button:hover, .tech-skills-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
  border-color: #ff6c00;
}

.price-string {
  display: flex;
  align-items: center;
}
.price-string:not(:last-child) {
  margin-bottom: 20px;
}

.underline {
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .underline {
    margin-top: 13px;
  }
}

.slogan-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.prices-slogan {
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-slogan::before {
  background-color: #9da4bd;
  margin-bottom: 13px;
}
@media screen and (min-width: 485px) {
  .prices-slogan::before {
    margin-bottom: 0;
  }
}

.prices-title {
  color: #ffffff;
  margin-bottom: 44px;
  text-align: start;
}

.price-item {
  min-width: max-content;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media (min-width: 768px) {
  .price-item {
    font-size: 18px;
  }
}

.prices-button {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  min-width: 160px;
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1), border-color 550ms cubic-bezier(0.4, 0, 0.2, 1), background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prices-button:hover, .prices-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
  border-color: #ff6c00;
}

.prices-services {
  background-color: #191c26;
  background-image: url(/prices-services-mobile.2d3a8610.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}
@media (min-resolution: 2dppx) {
  .prices-services {
    background-image: url(/prices-services-mobile@2x.e84999ec.png);
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .prices-services {
    background-image: url(/prices-services-tablet.daf874a0.png);
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .prices-services {
    background-image: url(/prices-services-tablet@2x.9a972bdf.png);
  }
}
@media (min-width: 1280px) {
  .prices-services {
    background-image: url(/prices-services-desktop.7fa229e2.png);
  }
}
@media (min-width: 1280px) and (min-resolution: 2dppx) {
  .prices-services {
    background-image: url(/prices-services-desktop@2x.4a844c0b.png);
  }
}

.price-list1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}
@media (min-width: 1280px) {
  .price-list1 {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.price-list2 {
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}
@media (min-width: 1280px) {
  .price-list2 {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }
}

.price-list-container {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media (min-width: 1280px) {
  .price-list-container {
    background: none;
    display: flex;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .features-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .features-box {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .features-box {
    margin-top: 25px;
    max-width: 50%;
  }
}

.features-line-box {
  display: flex;
  align-items: center;
}

.features-line {
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.features-title-first {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.features-title-second {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .features-title-second {
    padding-right: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .features-title-second {
    padding-right: 150px;
  }
}

.features-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
  padding-top: 20px;
}
@media screen and (max-width: 471px) {
  .features-text {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .features-text {
    padding-right: 185px;
  }
}
@media screen and (min-width: 1280px) {
  .features-text {
    padding-right: 100px;
  }
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .features-list {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .features-list {
    padding-left: 35px;
  }
}
.features-list-margin-right {
  margin-right: 15px;
}
@media screen and (max-width: 471px) {
  .features-list-margin-right {
    margin-right: 5px;
    width: 45%;
  }
}
.features-list-margin {
  margin-top: 49px;
  margin-left: 15px;
}
@media screen and (max-width: 471px) {
  .features-list-margin {
    margin-left: 5px;
    width: 45%;
  }
}

.features-item {
  background-color: #f7f7f7;
  padding: 20px 30px;
  text-align: center;
  max-width: 190px;
  height: 133px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .features-item {
    width: 210px;
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .features-item {
    width: 170px;
    padding: 20px;
  }
}
.features-item-number {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.features-item-number-plus {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ff6c00;
  position: absolute;
  top: 25px;
}
.features-item-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}
.features-item:not(:first-child) {
  margin-top: 30px;
}

.team {
  background-color: #f7f7f7;
  color: #303030;
}
.team-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.team-subtitle::before {
  background-color: #303030;
  margin-bottom: 13px;
}
@media screen and (min-width: 485px) {
  .team-subtitle::before {
    margin-bottom: 0;
  }
}
.team-title {
  margin-bottom: 44px;
  text-align: left;
}
@media screen and (min-width: 1280px) {
  .team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1280px) {
  .team-item {
    width: calc((100% - 6 * 15px) / 3);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1279px) {
  .team-item + .team-item {
    margin-top: 64px;
  }
}
.team-foto {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.team-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-profession {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 75%;
  background-color: #ffffff;
}
.team-social-link:focus svg, .team-social-link:hover svg {
  fill: #ff6c00;
}
.team-social-icon {
  width: 20px;
  height: 20px;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barba-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 44px;
  color: #303030;
}
.barba-title::before {
  background-color: #303030;
  margin-bottom: 13px;
}
@media screen and (min-width: 485px) {
  .barba-title::before {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-list .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.portfolio-list .portfolio-item {
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio-list .portfolio-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-list .portfolio-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .online-appointment {
    width: 600px;
    margin-right: 0;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 40px;
    padding-bottom: 193px;
  }
}

.appointment-wrapper {
  background-color: #191c26;
  width: 100%;
}

.appointment-title {
  color: #ffffff;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .appointment-title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .appointment-main-info {
    display: flex;
  }
}

.appointment-input {
  position: relative;
  display: block;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .appointment-input {
    width: calc(100% - 108px);
  }
}
form > .appointment-input {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .appointment-input:first-child {
    margin-right: 30px;
  }
}

.appointment-input-field {
  width: 100%;
  resize: none;
  color: #9da4bd;
  background-color: #191c26;
  border: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-bottom 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.appointment-input:focus-within > .appointment-input-field {
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.appointment-input-label {
  position: absolute;
  left: 0px;
  color: rgba(157, 164, 189, 0.4);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1), color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.appointment-input:focus-within > .appointment-input-label, .appointment-input-field:not(:placeholder-shown) + .appointment-input-label {
  transform: translate(0, -25px);
  color: #ffffff;
}

.appointment-button {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #191c26;
  display: inline-block;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  min-width: 160px;
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1), border-color 550ms cubic-bezier(0.4, 0, 0.2, 1), background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.appointment-button:hover, .appointment-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
  border-color: #ff6c00;
}
@media screen and (max-width: 767px) {
  .appointment-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .downpage-flex {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 600px;
    margin-left: 0;
    margin-right: auto;
    padding-left: 100px;
  }
}

.footer-wrapper {
  background-color: #191c26;
  background-image: url(/bg-footer-mobile@x1.58ee71d0.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192px), screen and (min-resolution: 2dppx) {
  .footer-wrapper {
    background-image: url(/bg-footer-mobile@x2.62d5401c.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-wrapper {
    background-image: url(/bg-footer-tablet@x1.44bdcd00.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192px), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .footer-wrapper {
    background-image: url(/bg-footer-tablet@x2.18f60e7f.png);
  }
}
@media screen and (min-width: 1280px) {
  .footer-wrapper {
    background-image: url(/bg-footer-desktop@x1.496f5fa6.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192px), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer-wrapper {
    background-image: url(/bg-footer-desktop@x2.6206f3ca.png);
  }
}

.footer-title {
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-tablet-flex {
    display: flex;
    justify-content: space-between;
  }
}

.footer-address {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-address {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-address {
    margin-bottom: 70px;
  }
}

.footer-address-link,
.footer-hours {
  display: flex;
  align-items: center;
  color: #9da4bd;
  fill: #9da4bd;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1), fill 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link:hover,
.footer-hours:hover {
  color: #ffffff;
  fill: #ffffff;
}

.footer-address-link:not(:last-child) {
  margin-bottom: 20px;
}

.footer-hours:hover {
  color: #9da4bd;
  fill: #9da4bd;
}

.footer-icon {
  margin-right: 16px;
}

.footer-time {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-time::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.copyright {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .copyright {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-block-social {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer-block-social::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.footer-social {
  color: black;
}
.footer-social:not(:last-child) {
  margin-right: 40px;
}

.footer-social:hover {
  color: #ff6c00;
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-copyright {
  color: #555555;
}
@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */