// Стили для Блока "Header"
.aside-section {
    width: 159px;
    background-color: #ffffff;
    text-align: center;


    padding: 32px 30px 40px 39px;
    // position: relative;	

    @media screen and(max-width: 767px) {
        display: none;
    }
    @media screen and(min-width: 1200px) {
        width: 155px;
        padding: 32px 31px 40px 55px;
    }
}

.social-list-aside {
    position: relative;
    top: 85%;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: $on-white-title-color;

    @media screen and(min-width: 768px) {
        display: flex;
        align-items: center;

        transform: rotate(-90deg);
        padding-left: 40px;
    }

    &-item {

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}


.line {
width: 60px;
height: 1px;
// background-color: $forth-text-color;
margin-right: 40px;
}
// header {
//     position: relative;
//     font-family: Open Sans;    
// }
.header-content {
    display: flex;
    @media screen and (max-width: 767px) {
        padding: 40px 31px;
        // justify-content: space-between;
    }
}
.logo {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.icon-logo {
    fill: $main-2-color
}
.menu-button {
    // display: inline-flex;
    // margin: 0;
    margin-left: auto;
    // padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;

    @media screen and (min-width: 768px) {
        display: none;
    }
    .icon-close {
        display: none;
    }
}

.menu-button {
    &.is-open {
        .icon-close {
            display: block;
        }
    }
    &.is-open {
        .icon-menu {
            display: none;
        }
    }
}
.icon-menu {
    fill: $main-2-color;
}
.menu-container {
    
    text-align: left;
    // outline: 1px solid black;
    
    a:hover, a:focus {
        color: $accent-color;
    }
    @media screen and  (max-width: 767px) {
        background-color: #ffffff;
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        // width: 100%;
        padding-top: 118px;
        padding-bottom: 60px;
        z-index: 1;

        &.is-open {
            display: block;
        }

        a {
            color: $on-white-title-color;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        a {
            color: $main-2-color;
        }
    }
}

.navigation-list {
    @media screen and (max-width: 767px) {
        margin-right: 144px;
        margin-left: 40px;
        margin-bottom: 64px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        padding-left: 24px;
        padding-top: 52px;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
}
.navigation-list-item  {
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
        @media screen and (min-width: 768px) {
            margin-right: 24px;
        }
        
    } 
}

.contacts {
    
    @media screen and (max-width: 767px) {
        margin-left: 40px;
        margin-right: 103px;
        margin-bottom: 64px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px)  {
        padding-top: 40px;
        // padding-bottom: 21px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    @media screen and (min-width: 768px) {
        margin-left: 47px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 40px;
        margin-left: 322px;
        display: flex;
        align-items: center;
        // margin-left: auto;
    }
}

.contacts-item {
    // width: 100%;
    // @include flex;
    // padding-top: 32px;
    // padding-bottom: 32px; 

    @media screen and (min-width: 1280px) {
        // padding-top: 32px;
        // padding-bottom: 32px;
    }
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
        @media screen and (max-width: 1279px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1280px) {
            margin-right: 40px; 
        }
    }
}
.border {
    border: 1px solid #FF6C00;
    border-radius: 25px;
    padding: 12px 37px;
}


.social-list {
    @media screen and (max-width: 767px) {
        margin-left: 40px;
        margin-right: 105px;
    }
    &-item {
        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 24px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.social-list-item {
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
    }
    
}
.line {
    width: 60px;
    height: 1px;
    background-color: $on-white-title-color;
    margin-right: 40px;
}

// .aside {
//     @media screen and (min-width: 768px) {
//         position: absolute;
//         top: 100%;
//         left: 0;
//         transform: rotate(270deg);
//     }
//     .social-item {
//         &:not(:last-child) {
//             @media screen and (max-width: 767px) {
//                 margin-bottom: 24px;
//             }
//         }
//         &:not(:last-child) {
//             @media screen and (min-width: 768px) {
//                 margin-right: 40px;
//             }
//         }
//     }
// }