// Стили для Блока "Hero"
.hero {
    width: 100%;
    background-image: url(../images/hero/480/hero-480-slider3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    display: flex;
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192px),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/hero/480/hero-480-slider3@2x.jpg);
        }
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-image: url(../images/hero/609/hero-609-slider2.jpg);

            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192px),
                screen and (min-resolution: 2dppx) {
                background-image: url(../images/hero/609/hero-609-slider2@2x.jpg);
            }
    }
    
    @media screen and (min-width: 1280px) {
        background-image: url(../images/hero/1125/hero-1125-slider1.jpg);

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192px),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/hero/1125/hero-1125-slider1@2x.jpg);
            }
    }
}
.hero {
    &-container {
        padding-top: 194px;
    }
    &-description {
        color: rgba(157, 164, 189, 0.6);
    }
    &-title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.05em;
        color: $main-2-color;
    }
    &-description-text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #9DA4BD;
    }
}
