$main-1-color: black;
// $main-2-color: #2196F3;
$main-3-color: #2196F3;
// $main-4-color: #757575;
// $main-5-color: #2F303A;
// $main-6-color: #F5F4FA;
// $main-7-color: rgba(255, 255, 255, 0.4);
// $main-8-color: rgba(255, 255, 255, 0.1);
// $main-9-color: #AFB1B8;
// $border-color: #ECECEC;
// $animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// $background-color: rgba(47, 48, 58, 0.8);
// $my-font: 'Roboto', sans-serif;
// $lineGrad: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));