$main-1-color: black;
$main-2-color: #ffffff;
$on-white-text-color: #555555;
$on-white-title-color: #303030;
$on-dark-text-color: #9da4bd;
$on-dark-rgba: rgba(157, 164, 189, 0.6);
$footer-rgba: rgba(157, 164, 189, 0.4);
$accent-color: #ff6c00;
$animation: 550ms cubic-bezier(0.4, 0, 0.2, 1);
$background-color: #191c26;
$secondary-bg-color: #f7f7f7;
$title-font: 'Raleway', sans-serif;
$main-font: 'Open Sans', sans-serif;
