// Стили для Блока "Наши мастера"
.team{
    background-color: $secondary-bg-color;
    font-family: 'Open Sans', sans-serif;
    color: $on-white-title-color;


    &-container{

            padding: 84px 31px 84px 31px;
            margin: 0px auto 0px auto;
        
            @media screen and (min-width: 768px) and (max-width: 1279px) {
                width: 768px;
                padding: 100px 159px 100px 159px;
            }
            
            @media screen and (min-width: 1280px) {
                width: 1280px;
                padding: 130px 55px 130px 55px;
            }
    }

    &-subtitle{
        position: relative;
        margin-bottom: 20px;
        margin-left: 80px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        &::before{
            position: absolute;
            content: "";
            bottom: 50%;
            left: -80px;
            width: 60px;
            height: 1px;
            background-image: url('../images/sprite.svg#icon-line');
            background-color: $on-white-title-color;
        }
    }

    &-title{
        margin-bottom: 44px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        
    }

    &-list{ 
        @media screen and (min-width: 1280px){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    &-item{
        @media screen and (min-width: 1280px){
            width: calc((100% - 6 * 15px) / 3);
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    &-item + &-item{
        @media screen and (max-width: 1279px){
        margin-top: 64px;
        }
    }

    &-foto{
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    &-name{
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 1.39;
        text-align: center;
        letter-spacing: 0.02em;
    }

    &-profession{
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
}

.team-social{
    display: flex;
    justify-content: center;
    align-items: center;

    &-item + &-item{
        margin-left: 10px;
    }

    &-link{
        display: block;
        padding: 12px;
        width: 44px;
        height: 44px;
        border-radius: 75%;
        background-color: $main-2-color;
    }

    &-link:focus svg,
    &-link:hover svg{
        fill: $accent-color;
    }

    &-icon{
        width: 20px;
        height: 20px;
        transition: $animation;
    }
}