<!-- Блок "Почему приходят именно к нам?" -->
<section class="container">
    <div class="features-container">
      <div class="features-box">
        <div class="features-line-box">
          <div class="features-line"></div>
          <p class="features-title-first">старая традиционная школа</p>
        </div>
        <h2 class="features-title-second">Почему приходят именно к нам?</h2>
        <p class="features-text">
          О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
            чем 10 раз прочитать.
        </p>
      </div>
      <ul class="features-list">
        <li class="features-list-margin-right">
          <div class="features-item">
              <p class="features-item-number">600<sup class="features-item-number-plus">+</sup></p>
              <p class="features-item-text">Довольных клиентов в день</p>
          </div>
          <div class="features-item">
              <p class="features-item-number">20<sup class="features-item-number-plus">+</sup></p>
              <p class="features-item-text">Лучших мастеров Киева</p>
          </div>
        </li>
        <li class="features-list-margin">
          <div class="features-item">
            <p class="features-item-number">50<sup class="features-item-number-plus">+</sup></p>
            <p class="features-item-text">Наград за отличный сервис</p>
          </div>
          <div class="features-item">
            <p class="features-item-number">100<sup class="features-item-number-plus">+</sup></p>
            <p class="features-item-text">Подарков постоянным клиентам</p>
          </div>
        </li>
      </ul>
    </div>
  </section>