<section class="hero" >
    <div class="backdrop is-hidden" data-backdrop ></div>
        <aside class="aside-section">
            <span class="aside-logo">
                    <svg class="logo-icon"  width="69px" height="66px">
                        <use href="./images/sprite.svg#icon-logo"></use>
                    </svg>
            
            </span>
            <ul class="social-list-aside">
                <li class="social-list-aside-item"><span class="line"></span><a href="#">Instagram</a></li>
                <li class="social-list-aside-item"><a href="#">Youtube</a></li>
            </ul>
        </aside>
        <div class="container--">
            <header>
                <div class="header-content">
                    <a href="#" class="logo">
                        <svg class="icon-logo" width="69px" height="66px">
                            <use href="./images/sprite.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <button 
                    type="button" 
                    class="menu-button" 
                    aria-expanded="false"
                    aria-controls="menu-container"
                    data-menu-button>
                        <svg 
                            width="40"
                            height="40" 
                            aria-label="Переключатель мобильного меню" 
                            >
                                <use class="icon-close" href="./images/icons.svg#cross"></use>
                                <use class="icon-menu" href="./images/icons.svg#icon-menu"></use>
                        </svg>
                    </button>    
                    <div class="menu-container" data-menu>
                        <nav class="navigation" id="menu-container">
                            <ul class="navigation-list">
                                <li class="navigation-list-item"><a href="#tech-skills">О нас</a></li>
                                <li class="navigation-list-item"><a href="#prices">Услуги и цены</a></li>
                                <li class="navigation-list-item"><a href="#team">Мастера</a></li>
                                <li class="navigation-list-item"><a href="#contacts">Контакты</a></li>
                            </ul>
                        </nav>    
                        <ul class="contacts">
                            <li class="contacts-item phone-header"><a href="tel:+380441111111">+38 044 111 11 11</a></li>
                            <li class="contacts-item">
                                <!-- <button type="submit" class="border">ОНЛАЙН ЗАПИСЬ <a href="#form-button"></a> </button> -->
                                <a href="#form-button" class="form-button">онлайн запись</a>
                            </li>
                        </ul>    
                        <ul class="social-list">
                            <li class="social-list-item "><a href="#"> Instagram</a></li>
                            <li class="social-list-item"><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="hero-container">
                <p class="hero-description"> A HAIR SALON FOR MAN IN KYIV</p>
                <h1 class="hero-title">BarberShop</h1>
                <p class="hero-description-text">
                    Мы эксперты в модных мужских стрижках. <br>
                    Работаем быстро, осторожно и со вкусом.
                </p>
            </div>
                
                <div class="slider">
                    <ul class="slider-position">
                        <li class="slider-item-1"></li>
                        <li class="slider-item-2"></li>
                        <li class="slider-item-3"></li>
                    </ul>
                    <ul class="slider-nav">
                        <li class="slider-nav-item">Назад</li>
                        <li class="slider-nav-item">Вперед</li>
                    </ul>
                </div>

                <!-- <div class="slider-wrapper">
                    <div class="header-slider">
                        <div class="slider-item-1"><div class="sider-item-content">---</div></div>
                        <div class="slider-item-2"><div class="sider-item-content">--</div></div>
                        <div class="slider-item-3"><div class="sider-item-content">-</div></div>
                    </div>
                </div> -->

        </div>
</section>



