<!-- <section class="hero">
    <div class="container">
        <div class="hero-container">
            <picture class="hero-images">
                <source 
                    srcset="
                        ./images/hero/1125/hero-1125.jpg 1125w,
                        ./images/hero/1125/hero-1125@2x.jpg 2250w" 
                    media="(min-width: 1280px)" 
                    sizes="1125px"/>
                <source 
                    srcset="
                        ./images/hero/609/hero-609.jpg 609w,
                        ./images/hero/609/hero-609@2x.jpg 1218w" 
                    media="(min-width: 768px)" 
                    sizes="609px"/>
                <source 
                    srcset="
                        ./images/hero/480/hero-480.jpg 480w,
                        ./images/hero/480/hero-480@2x.jpg 960w" 
                    media="(max-width: 767px)" 
                    sizes="480px"/>

                <img src="./images/hero/480/hero-480.jpg" alt="Hero">
                    
            </picture>
            <div class="hero-text">
                <p class="hero-description">A hair salon for men in Kyiv</p>
                <h1 class="hero-title">BarberShop</h1>
                <p class="hero-description-skills">Мы эксперты в модных мужских стрижках. <br>
                    Работаем быстро, осторожно и со вкусом.</p>
            </div>
            

        </div>
    </div>
        
</section> -->