<!-- Блок "Онлайн запись и Footer" -->
<div class="downpage-flex" id="form-button">
  <section class="appointment-wrapper">
    <div class="online-appointment container">
      <h2 class="appointment-title">Онлайн-запись</h2>
      <form>
        <div class="appointment-main-info">
          <label class="appointment-input">
            <input
              class="appointment-input-field"
              type="text"
              name="name"
              placeholder=" "
            />
            <span class="appointment-input-label">Имя*</span>
          </label>
          <label class="appointment-input">
            <input
              class="appointment-input-field"
              type="tel"
              name="phone"
              placeholder=" "
            />
            <span class="appointment-input-label">Телефон*</span>
          </label>
        </div>
        <label class="appointment-input">
          <textarea
            class="appointment-input-field"
            name="comment"
            cols="30"
            rows="5"
            placeholder=" "
          ></textarea>
          <span class="appointment-input-label">Сообщение</span>
        </label>
        <button type="submit" class="appointment-button">
          <span>Отправить</span>
        </button>
      </form>
    </div>
  </section>
  <section class="footer-wrapper" id="contacts">
    <div class="footer container">
      <h2 class="footer-title">Контакты</h2>
      <div class="footer-tablet-flex">
        <address class="footer-address">
          <a
            class="footer-address-link"
            href="https://goo.gl/maps/eZeJbiqzj9iB19fdA"
            ><svg class="footer-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-map-pin"></use></svg>
              ул. Васильковая, 7А, Киев, 08132</a>
          <br />
          <a class="footer-address-link" href="tel:+380991111111"
            ><svg class="footer-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-phone"></use></svg>+38 099 111 11 11</a
          >
          <br />
          <a class="footer-address-link" href="barbershop@emailcom"
            ><svg class="footer-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-mail"></use></svg>info@example.com</a
          >
        </address>
        <div class="working-time">
          <p class="footer-time">Время работы</p>
          <p class="footer-hours">Ежедневно с 9:00 до 22:00</p>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="copyright container">
  <p class="footer-copyright">&#169; Copyright 2020</p>
  <div class="footer-block-social">
    <a class="footer-social" href="">Instagram</a>
    <a class="footer-social" href="">Youtube</a>
  </div>
</footer>
