<!-- Блок "Онлайн запись и Footer" -->
<div class="appointment-wrapper">
  <section class="online-appointment container">
    <h2 class="title-appointment">Онлайн-запись</h2>
    <form>
      <div class="appointment-main-info">
        <label class="input-appointment">
          <input class="input-field-appointment" type="text" name="name" placeholder=" " />
          <span class="input-label-appointment">Имя*</span>
        </label>
        <label class="input-appointment">
          <input class="input-field-appointment" type="tel" name="phone" placeholder=" " />
          <span class="input-label-appointment">Телефон*</span>
        </label>
      </div>
      <label class="input-appointment">
        <textarea class="input-field-appointment" name="comment" cols="30" rows="10" placeholder=" "></textarea>
        <span class="input-label-appointment">Сообщение</span>
      </label>
      <div class="appointment-button">
        <button type="submit" class="button-appointment">
          <span class="appointment">Отправить</span>
        </button>
      </div>
    </form>
  </section>
</div>
<footer>
  <h2>Контакты</h2>
  <address>
    <a class="address-link" href="https://goo.gl/maps/eZeJbiqzj9iB19fdA">ул. Васильковая, 7А, Киев, 08132</a>
    <br />
    <a class="address-link" href="tel:+380991111111">+38 099 111 11 11</a>
    <br />
    <a class="address-link" href="barbershop@emailcom">info@examplecom</a>
  </address>
  <div class="working-time">
    <b>Время работы</b>
    <p>Ежедневно с 9:00 до 22:00</p>
  </div>
  <div class="copyright">
    <p>Instagram</p>
    <p>Youtube</p>
    <p>&#169 Copyright 2020</p>
  </div>
</footer>