<section class="prices-services" id="prices">
  <div class="container">
    <p class="prices-slogan">Проведи время в компании лучших мастеров</p>

    <h1 class="prices-title">Услуги и цены</h1>

    <div class="price-list-container">
      <ul class="price-list1">
        <li class="price-string">
          <p class="price-item">Мужская стрижка</p>
          <div class="underline"></div>
          <p class="price-item">от 300 грн.</p>
        </li>
        <li class="price-string">
          <p class="price-item">Стрижка бороды</p>
          <div class="underline"></div>
          <p class="price-item">от 200 грн.</p>
        </li>
        <li class="price-string">
          <p class="price-item">Стрижка усов</p>
          <div class="underline"></div>
          <p class="price-item">от 200 грн.</p>
        </li>
        <li class="price-string">
          <p class="price-item">Бритье опасной бритвой</p>
          <div class="underline"></div>
          <p class="price-item">от 200 грн.</p>
        </li>
      </ul>

      <ul class="price-list2">
        <li class="price-string">
          <p class="price-item">Cтрижка у стажера</p>
          <div class="underline"></div>
          <p class="price-item">от 50 грн.</p>
        </li>
        <li class="price-string">
          <p class="price-item">Стрижка под насадку</p>
          <div class="underline"></div>
          <p class="price-item">от 200 грн.</p>
        </li>
        <li class="price-string">
          <p class="price-item">Детская стрижка (до 12 лет)</p>
          <div class="underline"></div>
          <p class="price-item">от 300 грн.</p>
        </li>
        <li class="price-string">
          <p class="price-item">Камуфлирование седины</p>
          <div class="underline"></div>
          <p class="price-item">от 200 грн.</p>
        </li>
      </ul>
    </div>
    <a href="#form-button" class="prices-button">ОНЛАЙН ЗАПИСЬ</a>
    <!-- <button class="prices-button">онлайн-запись</button> -->
  </div>
</section>
