<!-- Блок "Наши мастера" -->
<section class="team" id="team">
  <div class="container">
    <p class="team-subtitle">для настоящих ценителей атмосферы</p>
    <h2 class="team-title">Наши мастера</h2>
    <ul class="team-list">
      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team/john-mobile.jpg    1x,
              ./images/team/john-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/john-desktop.jpg    1x,
              ./images/team/john-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/team/john-tablet.jpg    1x,
              ./images/team/john-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="team-foto"
            src="./images/team/john-desktop.jpg"
            alt="barber"
          />
        </picture>
        <h3 class="team-name">John Smith</h3>
        <p class="team-profession">Extreme Barber</p>
        <ul class="team-social">
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="instagram"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="twitter"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="facebook"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="linkedin"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team/michele-mobile.jpg    1x,
              ./images/team/michele-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/michele-desktop.jpg    1x,
              ./images/team/michele-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/team/michele-tablet.jpg    1x,
              ./images/team/michele-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="team-foto"
            src="./images/team/michele-desktop.jpg"
            alt="barber"
          />
        </picture>
        <h3 class="team-name">Michele Doe</h3>
        <p class="team-profession">Extreme Barber</p>
        <ul class="team-social">
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="instagram"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="twitter"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="facebook"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="linkedin"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team/alan-mobile.jpg    1x,
              ./images/team/alan-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/alan-desktop.jpg    1x,
              ./images/team/alan-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/team/alan-tablet.jpg    1x,
              ./images/team/alan-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="team-foto"
            src="./images/team/alan-desktop.jpg"
            alt="barber"
          />
        </picture>
        <h3 class="team-name">Alan Black</h3>
        <p class="team-profession">Extreme Barber</p>
        <ul class="team-social">
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="instagram"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="twitter"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="facebook"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-item">
            <a
              class="team-social-link"
              target="_blank"
              aria-label="linkedin"
              href=""
            >
              <svg class="team-social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
