.downpage-flex {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.footer {
  @media screen and (min-width: 1280px) {
    width: 600px;
    margin-left: 0;
    margin-right: auto;
    padding-left: 100px;
  }
}

.footer-wrapper {
  background-color: $background-color;
  background-image: url(../images/page-footer/bg-footer-mobile@x1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192px),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/page-footer/bg-footer-mobile@x2.png);
  }
  // фон для таблетки
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../images/page-footer/bg-footer-tablet@x1.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192px),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/page-footer/bg-footer-tablet@x2.png);
    }
  }
  // фон для компьютера
  @media screen and (min-width: 1280px) {
    background-image: url(../images/page-footer/bg-footer-desktop@x1.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192px),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/page-footer/bg-footer-desktop@x2.png);
    }
  }
}

.footer-title {
  @extend %title-name;
  color: $main-2-color;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-tablet-flex {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-address {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
}

.footer-address-link,
.footer-hours {
  @include flex;
  color: $on-dark-text-color;
  fill: $on-dark-text-color;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  transition: color $animation, fill $animation;

  &:hover {
    color: $main-2-color;
    fill: $main-2-color;
  }
}

.footer-address-link:not(:last-child) {
  margin-bottom: 20px;
}

.footer-hours:hover {
  color: $on-dark-text-color;
  fill: $on-dark-text-color;
}

.footer-icon {
  margin-right: 16px;
}

.footer-time {
  @extend %small-text;
  @include flex;
  margin-bottom: 20px;
  color: $main-2-color;

  &::before {
    @extend %before;
    background-color: $footer-rgba;
  }
}

.copyright {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 44px;
  padding-bottom: 44px;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;

  @media screen and (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-block-social {
  @include flex;
  margin-left: auto;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: $on-white-title-color;
    margin-right: 20px;
  }
}

.footer-social {
  color: $on-white-title-color;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.footer-social:hover {
  color: $accent-color;
  transition: color $animation;
}

.footer-copyright {
  color: $on-dark-text-color;

  @extend %small-text;
  letter-spacing: 0.2em;
  
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
}
