
.container {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 31px;
    padding-left: 31px;
    margin: 0px auto 0px auto;

    // @media screen and (min-width: 768px) and (max-width: 1279px) {
    //     width: 768px;
    //     padding-top: 101px;
    //     padding-bottom: 101px;
    //     padding-right: 39px;
    //     padding-left: 39px;
    // }
    
    // @media screen and (min-width: 1280px) {
    //     width: 1280px;
    //     // padding-top: 0px;
    //     // padding-bottom: 0px;
    //     // padding-right: 55px;
    //     // padding-left: 55px;
    // }
}

// header,
// footer {
//     .container {
//         padding-top: 0px;
//         padding-bottom: 0px;
//     }
// }

